{% extends "VinvSigproBundle::layout.html.twig" %}

{% block title %} Sigpro - {{ unit["name"] }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row profile" id="unit">
            <div class="col-sm-12">
                <p class="type">Unidad de Investigación</p>
                <p><span class="id">ID: {{   unit["unidad"] }}</span> </p>
                <p class="name">{{ unit["name"] }}</p>
                <div class="row">
                    <div class="col-sm-5 ">
                        <ul>
                            <li><span>Director:</span> {{ unit["director"] }}</li>
                            <li><span>Área:</span> {{ unit["area"] }}</li>
                        </ul>
                    </div>
                </div>

                <h3>Investigadores</h3>
                {% if p_researcher <= 5 %}
                    {% set min = 1 %}
                {% else %}
                    {% set min = (p_researcher - 4)%}

                {% endif %}
                {% if c_researcher <= (p_researcher + 4) %}
                    {% if c_researcher == 0 %}
                        {% set max = min %}
                    {% else %}
                        {% set max = c_researcher %}
                    {% endif %}
                {% else %}
                    {% if c_researcher < 5 %}

                        {% set max = c_researcher%}
                    {% else %}
                        {% set max = (p_researcher + 4)%}
                    {% endif %}
                {% endif %}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "Nombre" |upper }}</th>
                            <th class="text-center">{{ "Identificación" |upper }}</th>
                            <th class="text-center">{{ "Estado" |upper }}</th>
                            <th class="text-center">{{ "Correo Electrónico" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if researchers|length > 0 %}
                            {% for researcher in researchers %}
                                <tr>
                                    <td><a href="{{ path("researcher_show", {"id": researcher["cedula"]|trim}) }}">{{ (researcher["nombre"] ~ researcher["apellido1"] ~ researcher["apellido2"])}}</a></td>
                                    <td class="text-center">{{ researcher["cedula"]  }}</td>
                                    <td class="text-center">{{ researcher["estado"]  }}</td>
                                    <td class="text-center">{{ researcher["email"]  }}</td>
                                </tr>
                            {% endfor %}
                        {% else%}
                            <tr>
                                <td>No hay datos disponibles</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endif%}
                    </tbody>
                </table>
                <nav >
                    <ul class="pagination pull-center">
                        <li>
                            <a href="{{ path("unit_show", {"id": unit["unidad"], "p_researcher": p_researcher - 1, "p_project": p_project})}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for i in min..max %}

                            <li {% if i == p_researcher%}class="active"{% endif%}><a href="{{ path("unit_show", {"id": unit["unidad"], "p_researcher": i, "p_project": p_project})}} ">{{i}}</a></li>
                            {% endfor %}
                        <li>
                            <a href="{{ path("unit_show", {"id": unit["unidad"], "p_researcher": p_researcher + 1, "p_project": p_project})}}" aria-label="Next" >
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <h3>Proyectos</h3>
                {% if p_project <= 5 %}
                    {% set min = 1 %}
                {% else %}
                    {% set min = (p_project - 4)%}

                {% endif %}
                {% if c_project <= (p_project + 4) %}
                    {% if c_project == 0 %}
                        {% set max = min %}
                    {% else %}
                        {% set max = c_project %}
                    {% endif %}
                {% else %}
                    {% if c_project < 5 %}

                        {% set max = c_project%}
                    {% else %}
                        {% set max = (p_project + 4)%}
                    {% endif %}
                {% endif %}
                <table class="table table-striped" id="tprojects">
                    <thead>
                        <tr>
                            <th class="text-center">{{ "Núm. de proyecto" |upper }}</th>
                            <th>{{ "Descripción" |upper }}</th>
                            <th class="text-center">
                                {{ "Estado" |upper }}
                    <div class="dropdown" id="dropdownMenu1">
                        <button class="btn btn-link dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="filter">Todos<span>
                            <span class="caret"></span>
                        </button>
                        <span class="caret"></span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a>Todos</a></li>
                            <li><a>Terminado</a></li>
                            <li><a>Desarrollo</a></li>
                            <li><a>Vencido(Faltan requisitos para terminarlo)</a></li>
                            <li><a>Cerrado por incumplimiento</a></li>
                            <li><a>No ejecutado</a></li>
                            <li><a>En tramite</a></li>
                        </ul>
                    </div>
                    </th>
                    </tr>
                    </thead>
                    <tbody>

                        {% if projects|length > 0 %}
                            {% for project in projects %}
                                <tr>
                                    <td class="text-center">{{ project["codigo_proyecto"]  }}</td>
                                    <td><a href="{{ path("project_show", {"id": project["codigo_proyecto"]|trim}) }}">{{ project["nombre"] }}</a></td>
                                    <td class="text-center">{{ project["estado"]|capitalize  }}</td>
                                </tr>
                            {% endfor %}
                        {% else%}
                            <tr>
                                <td>No hay datos disponibles</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endif%}
                    </tbody>
                </table>
                <nav >
                    <ul class="pagination pull-center">
                        <li>
                            <a href="{{ path("unit_show", {"id": unit["unidad"], "p_researcher": p_researcher, "p_project": p_project - 1})}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for i in min..max %}

                            <li {% if i == p_project%}class="active"{% endif%}><a href="{{ path("unit_show", {"id": unit["unidad"], "p_researcher": p_researcher  , "p_project": i})}} ">{{i}}</a></li>
                            {% endfor %}
                        <li>
                            <a href="{{ path("unit_show", {"id": unit["unidad"], "p_researcher": p_researcher, "p_project": p_project + 1})}}" aria-label="Next" >
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <script>
            $(function () {

                $("#dropdownMenu1 li a").click(function () {
                    var filter = $(this).text();
                    
                    $("#dropdownMenu1 span.filter").text(filter);
                    $('#tprojects tbody tr').each(function () {
                        var cell = $(this).children("td:eq(2)").text();
                        //alert(cell + " - " + filter);   
                        if (filter === "Todos") {
                            $(this).removeClass("hidden");
                        } else {
                            if (cell.trim().toLowerCase() === filter.toLowerCase().trim()) {
                                $(this).removeClass("hidden");
                            } else {
                                $(this).addClass("hidden");
                            }
                        }


                    });
                });

            });

        </script>


    </div>

{% endblock %}


