<html>
    <head>        
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link type="text/css" href="{{ asset('bundles/vinvsigpro/css/bootstrap.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ asset('bundles/vinvsigpro/css/style.css') }}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/vinvsigpro/js/bootstrap.min.js') }}"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <img id="logo" class="" src="{{ asset('bundles/vinvsigpro/image/universidaddecostarica.png') }}">
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12" id="header_sigpro">
                <div class="col-md-6">
                    <a href="{{ path("index")}} "><img id="logo_sigpro" src="{{ asset('bundles/vinvsigpro/image/sigpro.png') }}"></a>
                </div> 
                <div class="col-md-6 login">
                    {% if user is not defined %}

                        <a type="button" class=" pull-right login-link" data-toggle="popover" data-placement="bottom">Ingresar</a>
                    {% else %}
                        <a href="{{path("logout")}}" class="pull-right" >Desconectar</a>

                        {% if user["type"] == "researcher" %}
                            <span class="pull-right"><img src="{{ asset('bundles/vinvsigpro/image/user.png') }}">  <a href="{{path("researcher_show", { 'id': user["user"]["Cedula"] })}}">{{ user["user"]["Nombre"]|lower|title }}</a></span>
                            {% else %}
                                {% if user["type"] == "unit" %}
                                <img src="{{ asset('bundles/vinvsigpro/image/user.png') }}"><a class="pull-right" href="{{path("unit_show", { 'id': user["user"]["unidad"] })}}">{{ user["user"]["descrip"]|trim }}</a>
                            {% else %}  
                                <span class="pull-right" ><img src="{{ asset('bundles/vinvsigpro/image/user.png') }}">{{ user["user"]["name"]|lower|title }}</span>
                                {% endif %}
                            {% endif %}   

                    {% endif %}
                </div> 

            </div>
        </div>
        <div class="container">
            <div class="row">

                {% if home  is not defined %}
                    <div class="col-md-5">
                        <form action="{{path("search")}}" method="POST" id="search-form">
                            <div class="input-group">
                                <input type="text" name="keyword" class="form-control ">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-warning" style="margin: auto; display: block" value="Buscar">
                                </span>
                            </div><!-- /input-group -->
                            <label class="col-md-3 text-center">
                                <input type="radio" name="type" value="project" class="">Proyecto
                            </label>
                            <label class="col-md-4 text-center">
                                <input type="radio" name="type" value="researcher" checked>Investigador
                            </label>
                            <label class="col-md-5 text-center">
                                <input type="radio" name="type" value="unit" class="" >Unidad de investigación
                            </label>

                        </form>
                    </div>
                {% endif %}

                <div class="col-md-7 {% if home is defined %}col-md-offset-5{% endif %}">
                    <div class="row">
                        <div class="col-md-4 link">
                            <a href="{{path("projects", {"page": 1, "keyword": ""}) }}" class="projects">Lista de proyectos</a>
                        </div>
                        <div class="col-md-4 link">
                            <a href="{{path("researchers", {"page": 1, "keyword": ""})}}" class="researchers">Lista de investigadores</a>
                        </div>
                        <div class="col-md-4 link last">
                            <a href="{{path("units", {"page": 1, "keyword": ""})}}" class="units">Unidades de investigación</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </header>
{% block content %}{% endblock %}

<footer class="container-fluid">
    <div class="row">
        <div class="top">
            <div class="col-md-6">
                <img src="{{ asset('bundles/vinvsigpro/image/logo-vinv.png') }}" alt=""/>
            </div>
            <div class="col-md-6">
                <p class="title">Contacto</p>
                <p>Correos electrónicos: girasol.vi@ucr.ac.cr y vice.inves@gmail.com</p>
                <p>Teléfonos: (506) 2511-1330 / (506) 2511-1350.</p>
                <p>Fax: (506) 2224-9367</p>
                <p>Cód.Postal: 11501-2060,Costa Rica</p>
            </div>
        </div> 
        <div class="bottom text-center">
            <p>Creative Commons LicenseTodos los derechos reservados © Universidad de Costa Rica 2014</p> 
            <p>Algunos derechos reservados Licencia Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Costa Rica</p>  
        </div>
    </div>
</footer>
<script>
    $('[data-toggle="popover"]').popover({
        title: 'Ingresar',
        content: '<form method="POST" action="{{ path('loginUser') }}">' +
                '<input name="username" class="form-control" placeholder="Usuario" type="text">' +
                '<input name="password" class="form-control" placeholder="Contraseña"  type="password">' +
                '<div class="radio">' +
                '<label>' +
                '<input type="radio" name="type" id="optionsRadios1" value="admin" checked>' +
                'Administrador' +
                '</label>' +
                ' </div>' +
                '<div class="radio">' +
                '<label>' +
                '<input type="radio" name="type" id="optionsRadios1" value="researcher" checked>' +
                'Investigador' +
                '</label>' +
                ' </div>' +
                '<div class="radio">' +
                '<label>' +
                '<input type="radio" name="type" id="optionsRadios1" value="unit" checked>' +
                'Unidad de investigación' +
                '</label>' +
                ' </div>' +
                '<input type="submit"  class="btn btn-warning btn-login" value="INGRESAR">' +
                '</form>',
        html: true,
        template: '<div class="popover  " role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'
    });
</script>
</body>

</html>