<html>
    <head>        
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link type="text/css" href="{{ asset('bundles/vinvsigpro/css/bootstrap.css') }}" rel="stylesheet">
        <link type="text/css" href="{{ asset('bundles/vinvsigpro/css/style.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/vinvsigpro/js/bootstrap.min.js') }}"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <img id="logo" class="" src="{{ asset('bundles/vinvsigpro/image/encabezado-ucr.png') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" id="header_sigpro">
                SIGPRO| Sistema de información y Gestión de Proyectos, Programas y Actividades

                {% if user is not defined %}

                    <button type="button" class="btn btn-danger pull-right example-class3" data-toggle="popover" data-placement="bottom">Ingresar</button>
                {% else %}
                    <a href="{{path("logout")}}" class="pull-right" >Desconectar</a>

                    {% if user["type"] == "researcher" %}
                        <span class="pull-right">Hola, <a href="{{path("researcher_show", { 'id': user["user"]["Cedula"] })}}">{{ user["user"]["Nombre"]|lower|title }}</a></span>
                    {% else %}
                        {% if user["type"] == "unit" %}
                            <a class="pull-right" href="{{path("unit_show", { 'id': user["user"]["unidad"] })}}">{{ user["user"]["descrip"] }}</a>
                        {% else %}  
                            <span class="pull-right" >Hola, {{ user["user"]["name"]|lower|title }}</span>
                        {% endif %}
                    {% endif %}   

                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">

                {% if home  is not defined %}
                    <div class="col-lg-6">
                        <form action="{{path("search")}}" method="POST" id="search-form">
                            <div class="input-group">
                                <input type="text" name="keyword" class="form-control ">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-warning" style="margin: auto; display: block" value="Buscar">
                                </span>
                            </div><!-- /input-group -->
                            <label class="col-lg-3 text-center">
                                <input type="radio" name="type" value="project" class="">Proyecto
                            </label>
                            <label class="col-lg-4 text-center">
                                <input type="radio" name="type" value="researcher" class="c">Investigador
                            </label>
                            <label class="col-lg-5 text-center">
                                <input type="radio" name="type" value="unit" class="" checked>Unidad de investigación
                            </label>

                        </form>
                    </div>
                {% endif %}

                <div class="col-lg-6 {% if home is defined %}col-lg-offset-6{% endif %}">
                </div>
            </div>
        </div>
    </header>
{% block content %}{% endblock %}

<footer class="container-fluid">
    <div class="row">
        <div class="top">
            footer  
        </div> 
        <div class="bottom text-center">
            <p>Creative Commons LicenseTodos los derechos reservados © Universidad de Costa Rica 2014</p> 
            <p>Algunos derechos reservados Licencia Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Costa Rica</p>  
        </div>
    </div>
</footer>
<script>
    $('[data-toggle="popover"]').popover({
        title: 'Ingresar',
        content: '<form method="POST" action="{{ path('loginUser') }}">' +
                '<input name="username" class="form-control" placeholder="Usuario" type="text">' +
                '<input name="password" class="form-control" placeholder="Contraseña"  type="password">' +
                '<div class="radio">' +
                '<label>' +
                '<input type="radio" name="type" id="optionsRadios1" value="admin" checked>' +
                'Administrador' +
                '</label>' +
                ' </div>' +
                '<div class="radio">' +
                '<label>' +
                '<input type="radio" name="type" id="optionsRadios1" value="researcher" checked>' +
                'Investigador' +
                '</label>' +
                ' </div>' +
                '<div class="radio">' +
                '<label>' +
                '<input type="radio" name="type" id="optionsRadios1" value="unit" checked>' +
                'Unidad de investigación' +
                '</label>' +
                ' </div>' +
                '<input type="submit"  class="btn btn-submit" value="Enviar">' +
                '</form>',
        html: true,
        template: '<div class="popover  " role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'
    });
</script>
</body>

</html>