{% extends "VinvSigproBundle::layout.html.twig" %}

{% block title %} Sigpro - Investigadores {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Investigadores</h1>
                <p class="text-info">Resultados de búsqueda: {{total}} ítems coinciden con "{{ keyword }}"</p>
                {% if page <= 5 %}
                    {% set min = 1 %}
                {% else %}
                    {% set min = (page - 4)%}

                {% endif %}
                {% if count <= (page + 4) %}
                    {% set max = count %}
                {% else %}
                    {% if count < 5 %}

                        {% set max = count%}
                    {% else %}
                        {% set max = (page + 4)%}
                    {% endif %}
                {% endif %}
                
                <table class="table table-striped" id="tresearchers">
                    <thead>
                        <tr>
                            <th>{{ "Nombre" |upper }}</th>
                            <th class="text-center">{{ "Identificación" |upper }}</th>
                            <th class="text-center">{{ "Estado" |upper }}
                    <div class="dropdown" id="dropdownMenu1">
                        <button class="btn btn-link dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="filter">Todos<span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a>Todos</a></li>
                            <li><a>Activo</a></li>
                            <li><a>Inactivo</a></li>
                        </ul>
                    </div></th>
                    <th class="text-center">{{ "Correo Electrónico" |upper }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for researcher in researchers %}
                            <tr>
                                <td><a href="{{ path("researcher_show", {"id": researcher["cedula"]|trim}) }}">{{ (researcher["nombre"] ~ researcher["apellido1"] ~ researcher["apellido2"])|title|default('Nombre no definido')}}</a></td>
                                <td class="text-center">{{ researcher["cedula"]  }}</td>
                                <td class="text-center"><span class="state_{{ researcher["estado"]|lower  }}"> {{ researcher["estado"]|capitalize  }}</span></td>
                                <td class="text-center">{{ researcher["email"]  }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav >
                    <ul class="pagination pull-center">
                        <li>
                            <a href="{{ path("researchers", {"page": page - 1, "keyword": keyword})}}" aria-label="Previous"{% if page == 1 %}class="disabled"{% endif%}>
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for i in min..max %}

                            <li {% if i == page%}class="active"{% endif%}><a href="{{ path("researchers", {"page": i, "keyword": keyword})}} ">{{i}}</a></li>
                            {% endfor %}
                        <li>
                            <a href="{{ path("researchers", {"page": page + 1, "keyword": keyword})}}" aria-label="Next" {% if count == max%}class="disabled"{% endif%}>
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <script>
            $(function () {

                $("#dropdownMenu1 li a").click(function () {
                    var filter = $(this).text();

                    $("#dropdownMenu1 span.filter").text(filter);
                    $('#tresearchers tbody tr').each(function () {
                        var cell = $(this).children("td:eq(2)").text();
                        //alert(cell + " - " + filter);   
                        if (filter === "Todos") {
                            $(this).removeClass("hidden");
                        } else {
                            if (cell.trim().toLowerCase() === filter.toLowerCase().trim()) {
                                $(this).removeClass("hidden");
                            } else {
                                $(this).addClass("hidden");
                            }
                        }


                    });
                });

            });

        </script>   
    </div>

{% endblock %}


