{% extends "VinvSigproBundle::layout.html.twig" %}

{% block title %} Nombre {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Investigadores</h1>
                {% if page <= 5 %}
                    {% set min = 1 %}
                {% else %}
                    {% set min = (page - 4)%}

                {% endif %}
                {% if count <= (page + 4) %}
                    {% set max = count%}
                {% else %}
                    {% set max = (page + 4)%}
                {% endif %}
                <nav >
                    <ul class="pagination pull-center">
                        <li>
                            <a href="{{ path("researchers", {"page": page - 1})}}" aria-label="Previous"{% if page == 1 %}class="disabled"{% endif%}>
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for i in min..max %}

                            <li {% if i == page%}class="active"{% endif%}><a href="{{ path("researchers", {"page": i})}} ">{{i}}</a></li>
                            {% endfor %}
                        <li>
                            <a href="{{ path("researchers", {"page": page + 1})}}" aria-label="Next" {% if count == max%}class="disabled"{% endif%}>
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "Nombre" |upper }}</th>
                            <th class="text-center">{{ "Identificación" |upper }}</th>
                            <th class="text-center">{{ "Estado" |upper }}</th>
                            <th class="text-center">{{ "Correo Electrónico" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for researcher in researchers %}
                            <tr>
                                <td><a href="{{ path("researcher_show", {"id": researcher["cedula"]|trim}) }}">{{ (researcher["nombre"] ~ researcher["apellido1"] ~ researcher["apellido2"])}}</a></td>
                                <td class="text-center">{{ researcher["cedula"]  }}</td>
                                <td class="text-center">{{ researcher["estado"]  }}</td>
                                <td class="text-center">{{ researcher["email"]  }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav >
                    <ul class="pagination pull-center">
                        <li>
                            <a href="{{ path("researchers", {"page": page - 1})}}" aria-label="Previous"{% if page == 1 %}class="disabled"{% endif%}>
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for i in min..max %}

                            <li {% if i == page%}class="active"{% endif%}><a href="{{ path("researchers", {"page": i})}} ">{{i}}</a></li>
                            {% endfor %}
                        <li>
                            <a href="{{ path("researchers", {"page": page + 1})}}" aria-label="Next" {% if count == max%}class="disabled"{% endif%}>
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>

{% endblock %}


