{% extends "VinvSigproBundle::layout.html.twig" %}

{% block title %} {{ (researcher["nombre"] ~ researcher["apellido1"] ~ researcher["apellido2"])|title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row profile" id="researcher">

            <div class="col-sm-12">
                <p class="type">Investigador/a</p>
                <p><span class="id">{{ researcher["cedula"] }}</span>  <span class="state">{{ researcher["estado"]|title }}</span> </p>
                <p class="name">{{ (researcher["nombre"] ~ researcher["apellido1"] ~ researcher["apellido2"])|title }}</p>
                <div class="row">
                    <div class="col-sm-4 ">
                        <ul >
                            <li><span>Fecha de Nacimiento:</span> {{ researcher["nacimiento"]|date("m/d/Y") }}</li>
                            <li><span>Nacionalidad:</span> {{ researcher["pais_nacimiento"] }}</li>
                            <li><span>País de nacimiento:</span> {{ researcher["pais_nacimiento"] }}</li>
                            <li><span>Género:</span> {{ researcher["genero"] }}</li>
                            <li><span>Correo electrónico:</span> {{ researcher["email"] }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <ul>
                            <li><span>Categoría Regimen Académico:</span> {{ researcher["CA"] }}</li>
                            <li><span>Grado Académico:</span> {{ researcher["grado"] }}</li>
                            <li><span>Unidad Base: </span> {{ researcher["unidad"] }}</li>
                        </ul>
                    </div>
                </div>
                <h3>Proyectos</h3>
                <table class="table table-striped researchers">
                    <thead>
                        <tr>
                            <th>{{ "Núm. de proyecto" |upper }}</th>
                            <th class="text-center">{{ "Descripción" |upper }}</th>
                            <th class="text-center">{{ "Unidad de Investigación" |upper }}</th>
                            <th class="text-center">{{ "Estado" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project["codigo"]}}</td>
                                <td><a href="{{ path("project_show", {"id": project["codigo"]|trim}) }}">{{ project["nombre"] }}</a></td>
                                <td class="text-center"><a href="{{ path("unit_show", {"id": project["unidad_c"]|trim}) }}">{{ project["unidad"]|lower|title }}</a></td>
                                <td class="text-center">{{ project["estado"]  }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>DISTINCIONES</h3>
                <table class="table table-striped researchers">
                    <thead>
                        <tr>
                            <th>{{ "Distinción" |upper }}</th>
                            <th class="text-center">{{ "Año" |upper }}</th>
                            <th class="text-center">{{ "Entidad" |upper }}</th>
                            <th class="text-center">{{ "Ámbito" |upper }}</th>
                            <th class="text-center">{{ "Descripción" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if distinciones|length > 0 %}
                            {% for distincion in distinciones %}
                                <tr>
                                    <td>{{ distincion["distincion"]}}</td>
                                    <td>{{ distincion["anio"] }}</a></td>
                                    <td class="text-center">{{ distincion["entidad"]|lower|title }}</td>
                                    <td class="text-center">{{ distincion["ambito"]  }}</td>
                                    <td class="text-center">{{ distincion["descripcion"]  }}</td>
                                </tr>
                            {% endfor %}
                        {% else%}
                            <tr>
                                <td>No hay datos disponibles</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endif%}
                    </tbody>
                </table>
                <h3>BECAS</h3>
                <table class="table table-striped researchers">
                    <thead>
                        <tr>
                            <th>{{ "País" |upper }}</th>
                            <th class="text-center">{{ "Entidad" |upper }}</th>
                            <th class="text-center">{{ "Año de inicio" |upper }}</th>
                            <th class="text-center">{{ "Año de término" |upper }}</th>
                            <th class="text-center">{{ "Descripción" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if becas|length > 0 %}
                            {% for beca in becas %}
                                <tr>
                                    <td>{{ beca["pais"]}}</td>
                                    <td>{{ beca["entidad"] }}</a></td>
                                    <td class="text-center">{{ beca["anio_inicio"] }}</td>
                                    <td class="text-center">{{ beca["anio_final"] }}</td>
                                    <td class="text-center">{{ beca["descripcion"] }}</td>
                                </tr>
                            {% endfor %}
                        {% else%}
                            <tr>
                                <td>No hay datos disponibles </td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endif%}
                    </tbody>
                </table>
                {%if user is defined%}    
                    {% set flag = false %}
                    {%if user["type"] != "unit"%}
                        {%if researcher["cedula"]|trim == user["user"]["Cedula"]|trim%}
                            {% set flag = true %}
                        {%endif%}
                    {%endif%}
                    
                    {% if flag == true or user["type"] == "admin" or user_unit == true %}
                        <h3>ESTUDIOS</h3>
                        <table class="table table-striped researchers">
                            <thead>
                                <tr>
                                    <th>{{ "Universidad" |upper }}</th>
                                    <th class="text-center">{{ "Año de inicio" |upper }} </th>
                                    <th class="text-center">{{ "Año de término" |upper }}</th>
                                    <th class="text-center">{{ "Disciplina" |upper }}</th> 
                                    <th class="text-center">{{ "Título" |upper }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if estudios|length > 0 %}
                                    {% for estudio in estudios %}
                                        <tr>

                                            <td>{{ estudio["entidad"] }}</a></td>
                                            <td class="text-center">{{ estudio["anio_inicio"] }}</td>
                                            <td class="text-center">{{ estudio["anio_final"] }}</td>
                                            <td class="text-center">{{ estudio["disciplina"]}}</td>
                                            <td class="text-center">{{ estudio["titulo"] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else%}
                                    <tr>
                                        <td>No hay datos disponibles</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                {% endif%}
                            </tbody>
                        </table>
                        <h3>CAPACITACIONES</h3>
                        <table class="table table-striped researchers">
                            <thead>
                                <tr>
                                    <th>{{ "País" |upper }}</th>
                                    <th class="text-center">{{ "Capacitación" |upper }}</th>
                                    <th class="text-center">{{ "Partciación activa" |upper }}</th>
                                    <th class="text-center">{{ "Función" |upper }}</th> 
                                    <th class="text-center">{{ "Año" |upper }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if capacitaciones|length > 0 %}
                                    {% for capacitacion in capacitaciones %}
                                        <tr>    

                                            <td>{{ capacitacion["pais"] }}</a></td>
                                            <td class="text-center">{{ capacitacion["capacitacion"] }}</td>
                                            <td class="text-center">{{ capacitacion["partic_activa"] }}</td>
                                            <td class="text-center">{{ capacitacion["funcion"]}}</td>
                                            <td class="text-center">{{ capacitacion["anio"] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else%}
                                    <tr>
                                        <td>No hay datos disponibles</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                {% endif%}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


