{% extends "VinvSigproBundle::layout.html.twig" %}

{% block title %} Sigpro - Proyectos {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Proyectos</h1>
                <p class="text-info">Resultados de búsqueda: {{total}} ítems coinciden con "{{ keyword }}"</p>
                {% if page <= 5 %}
                    {% set min = 1 %}
                {% else %}
                    {% set min = (page - 4)%}

                {% endif %}

                {% if count <= (page + 4) %}
                    {% set max = count%}
                {% else %}
                    {% set max = (page + 4)%}
                {% endif %}
                <table class="table table-striped" id="tprojects">
                    <thead>
                        <tr>
                            <th style="width: 55%;">{{ "Descripción" |upper }}</th>
                            <th class="text-center">{{ "Investigadores" |upper }}</th>
                            <th class="text-center">
                    <div class="dropdown" id="dropdownMenu1">
                        <button class="btn btn-link dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="">{{ "Estado" |upper }}</span>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for key, state in states %}
                                <li><a data-key="{{key}}">{{state|capitalize}}</a></li>
                            {% endfor %}
                        </ul>
                    </div></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>

                                <td>
                                    <p>{{ project["codigo"]  }}</p>
                                    <a href="{{ path("project_show", {"id": project["codigo"]|trim}) }}">{{ project["nombre"] }}</a></td>
                                    {% set foo = loop.index0 %}
                                <td class="">
                                    {% for researcher in researchers[foo] %}
                                        <a href="{{ path("researcher_show", {"id": researcher["cedula"]|trim}) }}">{{ (researcher["nombre"] ~ researcher["apellido1"] ~ researcher["apellido2"])|lower|title}}</a><br>
                                    {% endfor %}
                                </td>
                                <td class="text-center" data-estado="{{ project['cestado']}}"><span class="project_{{ project["estado"]|lower|trim|replace(" ", "_")|split('_', 2)[0]  }}">{{ project["estado"]|capitalize}}</span></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav >
                    <ul class="pagination pull-center">
                        <li>
                            <a href="{{ path("projects", {"page": page - 1, "keyword": keyword})}}" aria-label="Previous"{% if page == 1 %}class="disabled"{% endif%}>
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for i in min..max %}

                            <li {% if i == page%}class="active"{% endif%}><a href="{{ path("projects", {"page": i, "keyword": keyword})}} ">{{i}}</a></li>
                            {% endfor %}
                        <li>
                            <a href="{{ path("projects", {"page": page + 1, "keyword": keyword})}}" aria-label="Next" {% if count == max%}class="disabled"{% endif%}>
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <script>
            $(function () {

                $("#dropdownMenu1 li a").click(function () {
                    var filter = $(this).data("key");

                    $('#tprojects tbody tr').each(function () {
                        var cell = $(this).children("td:eq(2)").data("estado");
                        //alert(cell + " - " + filter);   
                        if (filter === "Todos") {
                            $(this).removeClass("hidden");
                        } else {
                            if (cell === filter) {
                                $(this).removeClass("hidden");
                            } else {
                                $(this).addClass("hidden");
                            }
                        }


                    });
                });

            });

        </script>

    </div>

{% endblock %}


