{% extends "VinvSigproBundle::layout.html.twig" %}

{% block title %} Nombre {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <p><span>{{ project["codigo_proyecto"] }}</span> + <span>{{ project["estado"] }}</span> </p>
                <p>{{ project["nombre"] }}</p>
                <div class="row">
                    <div class="col-sm-5 ">
                        <ul>
                            <li>Unidad responsable: {{ project["unidad"] }}</li>
                            <li>Tipo de investigación: {{ project["tipo_invest"] }}</li>
                            <li>Estado del proyecto: {{ project["estado"] }}</li>
                            <li>Unidad de Carga académica: {{ uacad["UNIDADA"] }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li>Tipo de financiamiento: {{ project["tipo_finan"] }}</li>
                            <li>Ubicación del proyecto: {{ project["ubicacion"] }}</li>
                            <li>Tipo de Proyecto: {{ project["tipo_proyecto"] }}</li>
                            <li>Periodo de vigencia: {{ project["unidad"] }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 ">
                        Objetivos
                        {% for objetive in objetives %}
                            <ul>
                                <li>{{ objetive ["descrip"]}}</li>
                            </ul>
                        {% endfor %}

                    </div>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-3">
                        {% for disciplina in disciplinas %}
                            <ul>
                                <li>{{ disciplina["descrip"]}}</li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


