{% extends "VinvSigproBundle::layout.html.twig" %}

{% block title %}  Sigpro - {{ project["nombre"] }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row profile" id="project">

            <div class="col-sm-12">
                <p class="type">Proyecto</p>
                <p><span class="id">{{ project["codigo_proyecto"] }}</span> <span class="state">{{ project["estado"]|title }}</span> </p>
                <p class="name">{{ project["nombre"] }}</p>
                <div class="row">
                    <div class="col-sm-5 ">
                        <ul>
                            <li><span>Unidad responsable:</span> {{ project["unidad"] }}</li>
                            <li><span>Tipo de investigación:</span> {{ project["tipo_invest"] }}</li>
                            <li><span>Estado del proyecto:</span> {{ project["estado"] }}</li>
                            <li><span>Unidad de Carga académica:</span> {{ uacad["UNIDADA"] }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li><span>Tipo de financiamiento:</span> {{ project["tipo_finan"] }}</li>
                            <li><span>Ubicación del proyecto:</span> {{ project["ubicacion"] }}</li>
                            <li><span>Tipo de Proyecto:</span> {{ project["tipo_proyecto"] }}</li>
                            <li><span>Periodo de vigencia:</span> {{ project["unidad"] }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="extra_data"> 
                            <div class="col-sm-6 ">
                                <p class="title">Objetivos<p>
                                    {{ objetive|truncate(200)|default('El obejtivo no se puede mostrar')}}
                            </div>
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-3">
                                <p class="title">Disciplinas<p>
                                    {% for disciplina in disciplinas %}
                                    <ul>
                                        <li>{{ disciplina["descrip"]}}</li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
                <h3>Informes</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "Número" |upper }}</th>
                            <th class="text-center">{{ "Tipo" |upper }}</th>
                            <th class="text-center">{{ "Estado" |upper }}</th>
                            <th class="text-center">{{ "Fecha de entrega" |upper }}</th>
                            <th class="text-center">{{ "entregado" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if informes|length > 0 %}
                            {% for informe in informes %}
                                <tr>
                                    <td>{{ informe["numero"]}}</td>
                                    <td class="text-center">{{ informe["informe"] }}</td>
                                    <td class="text-center">{{ informe["descrip"] }}</td>
                                    <td class="text-center">{{ informe["fec_entregaF"]  }}</td>
                                    <td class="text-center">{{ informe["fec_entregadoF"]|default('No ha sido entregado')  }}</td>
                                </tr>

                            {% endfor %}
                        {% else%}
                            <tr>
                                <td>No hay datos disponibles</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endif%}
                    </tbody>
                </table>
                <h3>Publicaciones</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "Publicación" |upper }}</th>
                            <th class="text-center">{{ "Tipo" |upper }}</th>
                            <th class="text-center">{{ "Revista" |upper }}</th>
                            <th class="text-center">{{ "ámbito" |upper }}</th>
                            <th class="text-center">{{ "Referencia" |upper }}</th>
                            <th class="text-center">{{ "Año" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if publicaciones|length > 0 %}
                            {% for publicacion in publicaciones %}
                                <tr>
                                    <td>{{ publicacion["publicacion"]}}</td>
                                    <td class="text-center">{{ publicacion["TIPO"] }}</td>
                                    <td class="text-center">{{ publicacion["REVISTA"] }}</td>
                                    <td class="text-center">{{ publicacion["AMBITO"]  }}</td>
                                    <td class="text-center">{{ publicacion["REFE"] }}</td>
                                    <td class="text-center">{{ publicacion["ano"] }}</td>
                                </tr>
                            {% endfor %}
                        {% else%}
                            <tr>
                                <td>No hay datos disponibles</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endif%}
                    </tbody>
                </table>

                <h3>Investigadores</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "Nombre" |upper }}</th>
                            <th class="text-center">{{ "Participación" |upper }}</th>
                            <th class="text-center">{{ "Dedicación" |upper }}</th>
                            <th class="text-center">{{ "Fecha de inicio" |upper }}</th>
                            <th class="text-center">{{ "Fecha de término" |upper }}</th>
                            <th class="text-center">{{ "MONTO CA" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if researchers|length > 0 %}
                            {% for researcher in researchers %}
                                <tr>
                                    <td><a href="{{ path("researcher_show", {"id": researcher["cedula"]|trim}) }}">{{ (researcher["nombre"] ~ researcher["apellido1"] ~ researcher["apellido2"])}}</a></td>
                                    <td class="text-center">{{ researcher["PARTICIPA"] }}</td>
                                    <td class="text-center">{{ researcher["TIEMPO"] }}</td>
                                    <td class="text-center">{{ researcher["fec_inicioF"]  }}</td>
                                    <td class="text-center">{{ researcher["fec_finalF"] }}</td>
                                    <td class="text-center">{{ researcher["monto_ca"] }}</td>
                                </tr>
                            {% endfor %}
                        {% else%}
                            <tr>
                                <td>No hay datos disponibles</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endif%}
                    </tbody>
                </table>
                <h3>Vigencias</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ "Vigencia" |upper }}</th>
                            <th class="text-center">{{ "Fecha de inicio" |upper }}</th>
                            <th class="text-center">{{ "Fecha de término" |upper }}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if vigencias|length > 0 %}
                            {% for vigencia in vigencias %}
                                <tr>
                                    <td class="">{{ vigencia["TVIGENCIA"]  }}</td>
                                    <td class="text-center">{{ vigencia["fec_inicioF"] }}</td>
                                    <td class="text-center">{{ vigencia["fec_finalF"] }}</td>
                                </tr>
                            {% endfor %}
                        {% else%}
                            <tr>
                                <td>No hay datos disponibles</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                        {% endif%}
                    </tbody>
                </table>
                {%if user is defined%}    
                    {% set flag = false %}

                    {%if user["type"] != "unit"%}
                        {% for researcher in researchers %}
                            {%if researcher["cedula"]|trim == user["user"]["Cedula"]|trim%}
                                {% set flag = true %}
                            {%endif%}
                        {% endfor %} 
                    {%endif%}

                    {% if flag == false %}

                        <h3>Financiamiento</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ "NOMBRE CONVENIO" |upper }}</th>
                                    <th class="text-center">{{ "Vigencia inicio" |upper }}</th>
                                    <th class="text-center">{{ "Vigencia finalizada" |upper }}</th>
                                    <th class="text-center">{{ "Nombre entidad" |upper }}</th>
                                    <th class="text-center">{{ "Monto" |upper }}</th>
                                    <th class="text-center">{{ "Descripción" |upper }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if financiamientos|length > 0 %}
                                    {% for financiamiento in financiamientos %}
                                        <tr>
                                            <td class="">{{ financiamiento["nombre"]  }}</td>
                                            <td class="text-center">{{ financiamiento["fec_inicioF"] }}</td>
                                            <td class="text-center">{{ financiamiento["fec_finalF"] }}</td>
                                            <td class="">{{ financiamiento["enti"]  }}</td>
                                            <td class="text-center">{{ financiamiento["monto"] }}</td>
                                            <td class="text-center">{{ financiamiento["descripcion"] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else%}
                                    <tr>
                                        <td>No hay datos disponibles</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                    </tr>
                                {% endif%}

                            </tbody>
                        </table>
                        <h3>Presupuesto</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ "Presupuesto" |upper }}</th>
                                    <th class="text-center">{{ "Partida" |upper }}</th>
                                    <th class="text-center">{{ "Asignado" |upper }}</th>
                                    <th class="text-center">{{ "Ampliaciones" |upper }}</th>
                                    <th class="text-center">{{ "Aumentos" |upper }}</th>
                                    <th class="text-center">{{ "Disminuciones" |upper }}</th>
                                    <th class="text-center">{{ "Subtotal" |upper }}</th>
                                    <th class="text-center">{{ "Egresos" |upper }}</th>
                                    <th class="text-center">{{ "Disponible" |upper }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if presupuestos|length > 0 %}
                                    {% for presupuesto in presupuestos %}
                                        <tr>
                                            <td class="">{{ presupuesto["cuenta_global"]  }}</td>
                                            <td class="text-center">{{ presupuesto["codigo_partida"] }}</td>
                                            <td class="text-center">{{ presupuesto["monto_asignado"] }}</td>
                                            <td class="text-center">{{ presupuesto["monto_ampliaciones"]  }}</td>
                                            <td class="text-center">{{ presupuesto["monto_aumentos"] }}</td>
                                            <td class="text-center">{{ presupuesto["monto_disminuciones"] }}</td>
                                            <td class="text-center">{{ presupuesto["monto_subtotal"] }}</td>
                                            <td class="text-center">{{ presupuesto["monto_egresos"] }}</td>
                                            <td class="text-center">{{ presupuesto["monto_disponible"] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else%}
                                    <tr>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                    </tr>
                                {% endif%}
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ "Presupuesto" |upper }}</th>
                                    <th class="text-center">{{ "Asignado" |upper }}</th>
                                    <th class="text-center">{{ "Ampliaciones" |upper }}</th>
                                    <th class="text-center">{{ "Aumentos" |upper }}</th>
                                    <th class="text-center">{{ "Disminuciones" |upper }}</th>
                                    <th class="text-center">{{ "Subtotal" |upper }}</th>
                                    <th class="text-center">{{ "Egresos" |upper }}</th>
                                    <th class="text-center">{{ "Disponible" |upper }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for presupuesto in presupuestoTotal %}
                                    <tr>
                                        <td class="text-center">{{ presupuesto["cuenta_global"]  }}</td>
                                        <td class="text-center">{{ presupuesto["monto_asignado"] }}</td>
                                        <td class="text-center">{{ presupuesto["monto_ampliaciones"]  }}</td>
                                        <td class="text-center">{{ presupuesto["monto_aumentos"] }}</td>
                                        <td class="text-center">{{ presupuesto["monto_disminuciones"] }}</td>
                                        <td class="text-center">{{ presupuesto["monto_subtotal"] }}</td>
                                        <td class="text-center">{{ presupuesto["monto_egresos"] }}</td>
                                        <td class="text-center">{{ presupuesto["monto_disponible"] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h3>Fondo D.I</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{{ "No Oficina V.I" |upper }}</th>
                                    <th class="text-center">{{ "No oficina. Unidad" |upper }}</th>
                                    <th class="text-center">{{ "No oficina. Rectoría" |upper }}</th>
                                    <th class="text-center">{{ "Monto" |upper }}</th>
                                    <th class="text-center">{{ "% EXONER" |upper }}</th>
                                    <th class="text-center">{{ "FECHA DE INICIO" |upper }}</th>
                                    <th class="text-center">{{ "FECHA FINAL" |upper }}</th>
                                    <th class="text-center">{{ "Cuenta" |upper }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if fondos|length > 0 %}
                                    {% for fondo in fondos %}
                                        <tr>
                                            <td class="">{{ fondo["novi"]  }}</td>
                                            <td class="text-center">{{ fondo["nounidad"] }}</td>
                                            <td class="text-center">{{ fondo["norectoria"] }}</td>
                                            <td class="text-center">{{ fondo["monto"]  }}</td>
                                            <td class="text-center">{{ fondo["porcen"] }}</td>
                                            <td class="text-center">{{ fondo["veinicioF"] }}</td>
                                            <td class="text-center">{{ fondo["vefinalF"] }}</td>
                                            <td class="text-center">{{ fondo["cuenta"] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else%}
                                    <tr>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                        <td class="text-center">0.00</td>
                                    </tr>
                                {% endif%}
                            </tbody>
                        </table>
                    {%endif%}
                {%endif%}
            </div>
        </div>
    </div>

{% endblock %}


